.styledBtn {
  z-index: 2;
  @apply text-white bg-brand-orange px-12 font-bold py-3 cursor-pointer relative rounded-sm shadow-md;
}

.styledBtn::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
  @apply border-brand-orange rounded-sm;
}

.styledBtn:hover::before {
  top: 7px;
  left: 7px;
  @apply border-brand-orange;
}

.btn {
  @apply text-brand-orange border-2 font-medium border-brand-orange px-6 py-1 cursor-pointer hover:bg-brand-orange hover:text-white rounded-sm shadow transition duration-200 ease-in-out;
}
