@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Mona Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --hightlight-color: #60e0cf;

}

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  height: 100%;
  @apply bg-dark-300;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  @apply bg-light-200;
}
