.wrapper {
  @apply h-screen w-full bg-dark-300;
}

.gridContainer {
  @apply grid grid-cols-2 gap-10;
}

.leftSide {
  @apply col-span-1 flex flex-col h-screen flex-1 items-start justify-between;
  padding: 8%;

  &__title {
    @apply text-light-900 font-HubotSans text-5xl font-bold;
  }

  &__jobRole {
    @apply text-light-900 font-HubotSans text-2xl mt-1;
  }

  &__desc {
    @apply text-light-900 font-HubotSans text-lg mt-1;
    line-height: 1.4;
  }
}

.rightSide {
  @apply col-span-1;
  padding: 8%;
}

.information {
  @apply p-2 rounded-full bg-dark-700 text-light-900 font-MonaSans text-sm
  text-center;
}
