.modal-wrapper.open {
  @apply scale-100 max-h-full max-w-full opacity-100;
}

.modal-wrapper {
  backdrop-filter: blur(5px);
  background-color: #09090F66;
  transform-origin: center center;
  transition-duration: 0.5s;
  @apply absolute w-full top-0 right-0 bottom-0 left-0 flex items-center justify-center h-screen md:h-auto scale-0 opacity-0 transform max-h-0 max-w-0;

}

.modal-content {
  box-shadow: 0px 10px 40px -2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  @apply bg-brand-blue-dark px-3 pt-3 pb-7 container w-10/12 md:w-auto mx-auto
}