.container {
  @apply bg-dark-300;
}

.wrapper {
  @apply h-screen w-full bg-dark-300 max-w-7xl mx-auto;
}

.gridContainer {
  @apply grid grid-cols-1 gap-10;

  @screen lg {
    @apply grid grid-cols-2 gap-10;
  }
}

.leftSide {
  @apply col-span-1 flex flex-col h-screen flex-1 items-start justify-between;
  padding: 8%;
  @apply border-r border-dark-500;
  top: 0;

  @screen lg {
    position: sticky;
  }

  &__header {
    margin-top: 10%;
  }

  &__title {
    @apply text-light-900 font-HubotSans text-5xl font-bold;
  }

  &__jobRole {
    @apply text-light-900 font-HubotSans text-xl mt-2;
  }

  &__desc {
    @apply text-light-500 font-MonaSans mt-8 font-light text-sm;
    line-height: 1.4;

    &--highlight {
      @apply text-light-900;
    }
  }

  &__links {
  }

  &__link {
    @apply uppercase text-white font-HubotSans font-bold text-sm mb-4 cursor-pointer flex items-center;

    &__line {
      width: 35px;
      height: 1px;
      background-color: white;
      margin: 0 10px;
      display: block;
    }
  }

  &__link:hover {
    @apply text-light-500;
  }

  &__footer {
    &__imageWrapper {
      width: 55px;
      height: 55px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
      }
    }

    &__links {
      margin-top: 20px;
      @apply flex items-center justify-start flex-wrap;

      @screen md {
        @apply flex-grow-0;
      }
    }

    &__link {
      @apply flex items-center justify-start text-sm mr-4;

      span {
        margin-left: 5px;
        @apply text-white;
      }
    }
  }

  &__credit {
    @apply mt-3 text-light-500 text-sm;

    span {
      @apply text-light-800 underline cursor-pointer;
    }
  }
}

.rightSide {
  @apply col-span-1 mt-28;
  padding: 8%;
  overflow-y: auto;

  @screen lg {
    @apply mt-5;
  }

  &__section-title {
    @apply text-light-900 font-HubotSans text-sm font-normal mt-10 uppercase;
  }

  &__lists {
    @apply flex flex-col space-y-4 mt-4;
  }

  &__list {
    @apply bg-dark-700 rounded-md p-5;

    &__title {
      @apply text-light-900 font-HubotSans text-2xl font-semibold;
    }

    &__desc,
    &__content {
      @apply text-light-500 font-MonaSans text-sm mt-2 font-light;
      line-height: 1.4;
    }

    &__content {
      @apply text-sm mt-10;
    }

    &__footer {
      @apply flex items-center justify-between mt-5;

      a {
        @apply text-light-500 font-MonaSans text-sm font-light flex items-center;

        span {
          @apply ml-2;
        }
      }
    }
  }

  &__experience {
    @apply bg-dark-700 rounded-md p-5;

    &__title {
      @apply text-light-900 font-HubotSans text-lg font-semibold;

      a {
        @apply text-[var(--hightlight-color)] font-bold;
      }
    }

    &__time {
      @apply text-light-500 font-MonaSans text-sm mt-1 font-light;
    }

    &__content {
      @apply text-light-800 text-sm mt-10;

      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;

        &::before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: var(--hightlight-color);
        }
      }
    }

    &__techs {
      @apply flex items-center justify-start mt-5 flex-wrap;

      span {
        @apply text-light-500 font-MonaSans text-xs font-light mr-2 uppercase;
      }
    }
  }
}

.information {
  @apply p-2 rounded-full bg-dark-700 text-light-900 font-MonaSans text-xs
  text-center;

  a {
    @apply underline;
  }
}

.skills {
  @apply p-2 rounded bg-dark-700 text-light-900 font-MonaSans text-xs mt-8 mb-10;
  line-height: 1.6;

  @screen lg {
    @apply mb-0;
  }

}
