.container {
  @apply bg-dark-300;
}

.wrapper {
  @apply h-screen w-full bg-dark-300 max-w-7xl mx-auto;
}

.gridContainer {
  @apply grid grid-cols-1 gap-10;

  @screen lg {
    @apply grid grid-cols-2 gap-10;
  }
}

.leftSide {
  @apply col-span-1 flex flex-col md:h-screen flex-1 items-start justify-between;
  padding: 8%;
  @apply border-r border-dark-500;
  top: 0;

  @screen lg {
    position: sticky;
  }

  &__header {
    margin-top: 10%;
  }

  &__title {
    @apply text-light-900 font-HubotSans text-5xl font-bold;
  }

  &__jobRole {
    @apply text-light-900 font-HubotSans text-xl mt-2;
  }

  &__desc {
    @apply text-light-500 font-MonaSans mt-8 font-light text-sm;
    line-height: 1.4;

    &--highlight {
      @apply text-light-900;
    }
  }

  &__links {
  }

  &__link {
    @apply uppercase text-white font-HubotSans font-bold text-xs mb-4 cursor-pointer flex items-center;

    &__line {
      width: 35px;
      height: 1px;
      background-color: white;
      margin: 0 10px;
      display: block;
    }
  }

  &__link:hover {
    @apply text-light-500;
  }

  &__link--active {
    @apply text-light-800 underline;
  }

  &__footer {
    &__imageWrapper {
      width: 55px;
      height: 55px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
      }
    }

    &__links {
      margin-top: 20px;
      @apply flex items-center justify-start flex-wrap;

      @screen md {
        @apply flex-grow-0;
      }
    }

    &__link {
      @apply flex items-center justify-start text-xs mr-4;

      span {
        margin-left: 2px;
        @apply text-white;
      }
    }
  }

  &__credit {
    @apply mt-3 text-light-500 text-sm relative;

    &__list {
      @apply absolute bg-dark-400 px-4 py-5 text-sm;
      bottom: 20px;
      left: 0;
      opacity: 0;
      display: none;

      // &::after {
      //   content: " ";
      //   position: absolute;
      //   left: 40px;
      //   bottom: -13px;
      //   border-top: 13px solid ;
      //   border-right: 13px solid transparent;
      //   border-left: 13px solid transparent;
      //   border-bottom: none;
      //   @apply border-t-dark-400
      // }
    }

    span {
      @apply text-light-800 underline cursor-pointer;

      &:hover {
        + .leftSide__credit__list {
          opacity: 1;
          display: block;
        }
      }
    }
  }
}

.rightSide {
  @apply col-span-1 mt-7;
  padding: 8%;
  overflow-y: auto;

  @screen lg {
    @apply mt-5;
  }

  &__section-title {
    @apply text-light-500 font-HubotSans text-xs font-bold mt-10 uppercase;
  }

  &__lists {
    @apply flex flex-col space-y-2 mt-2;
  }



  &__list {
    @apply bg-dark-400 p-5;

    &__title {
      @apply text-light-900 font-HubotSans text-base font-medium;
    }

    &__desc,
    &__content {
      @apply text-light-500 font-MonaSans text-xs mt-2 font-light;
      line-height: 1.4;
    }

    &__content {
      @apply text-xs mt-10;
    }

    &__footer {
      @apply flex items-center justify-between mt-5;

      a {
        @apply text-light-500 font-MonaSans text-xs font-light flex items-center;

        span {
          @apply ml-2;
        }
      }
    }
  }
}

.information {
  @apply p-2 bg-dark-700 text-light-900 font-MonaSans text-xs
  text-center;

  a {
    @apply underline;
  }
}

.skills {
  @apply p-5 bg-dark-400 text-light-700 font-MonaSans text-xs mt-8 mb-10 relative;
  line-height: 1.6;

  @screen lg {
    @apply mb-0;
  }
}

.star {
  @apply absolute;
  top: -15px;
  left: -15px;
  font-size: 25px;
}
