.wrapper {
  @apply h-screen w-full;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.social {
  @apply h-full w-full bg-brand-blue-darker flex items-center justify-between flex-col py-5;
}

.info {
  @apply h-full w-full bg-brand-blue-dark flex items-center;
}

.sprites {
  @apply h-full w-full bg-brand-blue-darker hidden md:block;
}

.icon {
  @apply text-white text-3xl cursor-pointer hover:text-4xl hover:text-brand-orange transition-all duration-200 flex items-center justify-center;
}

.social-list {
  @apply flex flex-col items-center justify-center space-y-6;
}

@screen md {
  .content {
    height: 100%;
    display: grid;
    grid-template-columns: 60px 1fr 30vw;
  }
}
