.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  height: 100vh;
  width: 80vw;
  transform: translateX(1000px);
  transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 100;
  right: 0px;
  top: 0px;
  padding: 20px;
  overflow-y: scroll;
  @apply bg-brand-blue-darker backdrop-blur-xl bg-opacity-75 shadow-lg border-l-2 border-brand-orange;
}

@screen md {
  .wrapper {
    width: 32vw;
  }
}


.wrapper::-webkit-scrollbar{
  width: 8px;
  @apply bg-brand-blue-dark;
}

.wrapper::-webkit-scrollbar-thumb{
  @apply bg-brand-orange rounded-md;
 
}

.wrapper.open {
  transform: translateX(0px);
}

.links {
  @apply text-brand-light font-light md:text-7xl text-6xl cursor-pointer relative mb-5 block;
}

.links:hover {
  @apply text-brand-orange
}

.links::after{
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.167);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.links:hover::after{
  height: 20px;
}